.DocSubjectCKEditor .ck-editor__editable_inline {
  min-height: 50rem;
}

.ck-button--resolve-comment-thread {
  width: 100% !important;
  font-size: 0.85rem !important;
  color: #007bff !important;
  background-color: #e8e8e8 !important;
  padding: 10px 15px !important;
}

.ck-button--resolve-comment-thread:hover {
  color: #0056b3 !important;
  cursor: pointer !important;
}