.PreviewCKEditor .ck-read-only {
  color: gray !important;
}

.PreviewCKEditor__talk .ck-editor__editable_inline {
  min-height: 15rem;
}

.PreviewCKEditor__doc .ck-editor__editable_inline {
  min-height: 50rem;
}
