.ChatPageComments {
  /* this part is based on page layout */
  height: 70vh;
}

.ChatPageComments__comments {
  display: flex;
  flex-direction: column-reverse;
  height: 80%;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .ChatPageComments {
    height: 90vh;
  }
}

@media (min-width: 1100px) {
  .ChatPageComments {
    padding-top: 20px;
    height: 95vh;
  }
}
