.ChatHeader {
  display: none
}

@media (min-width: 768px) {
  .ChatHeader {
    display: block;
  }
}

.ChatHeader__title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ChatHeader .alert {
  margin-right: 20px;
}