.invitee-row:not(:last-child) {  
  margin-bottom: 15px;
}

.resend-invite-link {
  padding-left: 0 !important;
  font-size: 1rem !important;
  line-height: 1rem !important;
}

.invite-re-sent-alert {
  margin-top: 0.8px;
}
