.NewTalkAvatar {
  margin-left: 10px;
}

.NewTalkAvatar img:hover {
  opacity: 0.8;
}

.NewTalkAvatar button {
  height: 65px;
  width: 65px;
  border-radius: 4px !important;  
  font-size: 1.5rem !important;
}