.NewTalksStrip {
  display: flex;
  margin-bottom: 15px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.NewTalksStrip:hover {
  overflow-x: auto;  
}

.NewTalksStrip__new-talk-button {
  height: 40px;
  width: 40px;
  border-radius: 4px !important;  
}
