.TalksPageTabs {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.TalksPageTabs__section-title {
  font-size: 0.85rem;
  margin-bottom: 5px;
}

.TalksPagTabs__state-section {
  margin-top: 15px;
}

.TalksPageTabs__section-disabled {
  color: #6c757d;
}

@media (min-width: 580px) {

  .TalksPageTabs {
    flex-direction: row;
    align-items: center;
  }

  .TalksPagTabs__state-section {
    margin-top: 0;
    margin-left: 15px;
  }  
}
