.TalkRowNewestComment {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e8e8e8;
}

.TalkRowNewestComment__comment-body {
  max-height: 25px; /* If line clamp fails due to browser issues or other edge cases like images */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
