.TalkRowHeader {
  margin-bottom: 0;
}

.TalkRowHeader__title {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1.25rem;
  color: #303030;
  display: flex;
  align-items: center;
}

.TalkRowHeader__title svg {
 margin-right: 5px; 
}

.TalkRowHeader__timestamps-labels {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

.TalkRowHeader__timestamps {
  margin-bottom: 5px;
}

@media (min-width: 1100px) {

  .TalkRowHeader__timestamps-labels {    
    flex-direction: row;
    align-items: center;
  }

  .TalkRowHeader__timestamps {
    margin-bottom: 0px;
    margin-right: 10px;
  }
}
