.EditLabel__name-input {
  margin-bottom: 8px;  
}

.EditLabel__color-selects {
  display: flex;
  align-items: center;
}

.EditLabel__color-select {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin-right: 10px;
}

.EditLabel__color-selects .nav-item .active {
  box-sizing: content-box;
  height: 27px;
  width: 27px;
  border: 3px solid black;
  padding: 0;
}
