.LabelRow form {
  padding: 15px 10px 15px 10px;
}

.LabelRow__view {
  padding: 15px 10px 15px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.LabelRow__view:hover {
  background-color: #e9f3fc;
}

.LabelRow__view button {
  margin-left: auto;
}
