.NewSpacePage {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 0 20px;
}

.NewSpacePage__message {
  margin-top: 40px;
  margin-bottom: 40px !important;
}

.NewSpacePage__name {
  margin-top: 8px;
  margin-bottom: 8px;
}

.NewSpacePage__warning-message {
  color: coral;
}

.NewSpacePage__invisible-text-occupies-vertical-space {
  visibility: hidden;
}

.NewSpace__save-cancel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;  
}

.NewSpacePage__ensembl-community {
  margin-top: 150px;
  text-align: center;
}

.NewSpacePage__sign-out-link {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 200px;
}