.LabelsDropdown .dropdown-menu {
  width: 200px;
}

.LabelsDropdown__items {
  overflow-y: scroll;
  max-height: 300px;
  overflow-x: hidden;
}

.LabelsDropdown__items::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.LabelsDropdown__items::-moz-scrollbar
{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 7px;
}

.LabelsDropdown__items::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
}

.LabelsDropdown__items .dropdown-item {
  padding: 5px 17px;
}
