.LabelSet__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.LabelSet__column {
  display: flex;
  flex-direction: column;
}

.LabelSet__column .LabelSet__labels {
  margin-bottom: 10px;
}

.LabelSet__labels {
  display: flex;
  flex-wrap: wrap;
}

.LabelSet__label {
  margin-right: 5px;  
}
