.SubjectTimestamp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.85rem;  
}

.SubjectTimestamp:not(:last-child) {
  margin-bottom: 5px;
}

.SubjectTimestamp__description {
  margin-right: 0.3rem;
}

.SubjectTimestamp .Avatar {
  margin-right: 5px;
}

.SubjectTimestamp__name { 
  margin-right: 0.3rem;
}

@media (min-width: 768px) {

  .SubjectTimestamp {
    margin-bottom: 0;
  }

  .SubjectTimestamp:not(:last-child) {
    margin-bottom: 0;
  }
}
