.SubjectTimestamps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.SubjectTimestamps__separation-dot {
  display: none;
}

@media (min-width: 768px) {
  .SubjectTimestamps {
    flex-direction: row;
  }
  
  .SubjectTimestamps__separation-dot {
    display: inline;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
}
