.Login {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.Login__logo-header {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.Login__logo {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.Login__title, .Login__sign-up-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Login__login-message {
  text-align: center;
  margin-top: 20px;
}