.CommentThread {
  border: 1px silver solid;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
}

.CommentThread__header {
  margin-bottom: 15px;
}

.CommentThread__message--highlight {
  display: inline-block;
  margin-left: 3px;
  background-color: yellow;
}