.Subject__doc .Subject__replace-title-message {
  margin-top: 20px;
}

.Subject__replace-title-message {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.Subject__replace-title-message svg {
  margin-right: 10px;
}

.Subject__header {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  align-content: center;
  margin-bottom: 10px;
}

.Subject__header .IsSaving {
  margin-top: 8px;
}

.Subject__footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}


@media (min-width: 1100px) {
  .Subject__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Subject__header .IsSaving {
    margin-top: 0;
  }  
}
