.TalkPageDesktopHeader {
  display: none;
}
@media (min-width: 1100px) {  
  .TalkPageDesktopHeader {
    position: fixed;
    top: 0;
    left: 180px;
    z-index: 500;
    height: 40px;
    width: calc(100vw - 180px - 256px);
    margin: 0;
    padding: 0 20px;
    border-bottom: 1px solid #e8e8e8;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .TalkPageDesktopHeader__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 15px 0 0;
    font-size: 1rem;
  }

  .TalkPageDesktopHeader__is-saving {
    margin-left: auto;
  }
}