.NewTalkForm__title {
  margin-top: 60px;
  margin-bottom: 20px;
}

.NewTalkForm input {
  font-size: 1.5rem !important;
}

.NewTalkForm__btns {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.NewTalkForm__cancel-btn {
  margin-left: auto;
}
