.Avatar {
  display: flex;
  align-items: flex-start;
}

.Avatar img {
  height: 25px;
  width: 25px;
  border-radius: 4px;
  border: 1px solid silver;
}

.Avatar__size-md img {
  height: 40px;
  width: 40px;
}

.Avatar__size-lg img {
  height: 65px;
  width: 65px;
}

.Avatar__remove-x {
  display: flex;
  align-items: flex-start;
}

.Avatar__remove-x:hover {
  background-color: rgb(225, 225, 225);
  cursor: pointer;
}