.AvatarsDropdown .dropdown-menu {
  width: 200px;
}

.AvatarsDropdown__items {
  overflow-y: scroll;
  max-height: 300px;
  overflow-x: hidden;
}

.AvatarsDropdown__items::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.AvatarsDropdown__items::-moz-scrollbar
{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 7px;
}

.AvatarsDropdown__items::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
}

.AvatarsDropdown__items .dropdown-item {
  padding: 5px 10px;
}

.AvatarsDropdown__item {
  display: flex;
  align-items: center;
}

.AvatarsDropdown__item-name {
  margin-left: 5px;
  font-size: 0.85rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}