.AvatarSet__avatars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -3px;
  align-content: space-between;
}

.AvatarSet__avatars .Avatar {
  margin-top: 3px;
  margin-right: 3px;
}

.AvatarSet__dropdown {
  margin-top: 10px;
}