.AvatarAnchoredContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.AvatarAnchoredContent__left {
  margin-right: 8px;
}

.AvatarAnchoredContent__right {
  max-width: 95%
}

.AvatarAnchoredContent__header {
  margin-bottom: 2px;
}
