.EditContentButtons {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.EditContentButtons__cancel-button {
  margin-left: 8px;
}

.EditContentButtons__delete-button {
  margin-left: auto;
  font-size: 0.875rem;
  color: #dc3545;
}

.EditContentButtons__delete-button:hover {
  color: #b3091a;
}
