.Label {
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
  color: white;
  border-radius: 12px;
  padding: 4px 8px;
  margin: 2px;
  height: 1.5rem;
}

.Label a {
  display: flex;
  align-items: center;
  color: white;
}

.Label__name {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Label a:hover {
  color: white;
  text-decoration: underline !important;
}

.Label__color-blue {
  background-color: royalblue !important;
}

.Label__color-green {
  background-color: green !important;
}

.Label__color-red {
  background-color: firebrick !important;
}

.Label__color-purple {
  background-color: blueviolet !important;
}

.Label__color-orange {
  background-color: coral !important;
}

.Label button {
  background-color: transparent;
  border-color: transparent;
  padding: 0 0 2px 0;
}

.Label button:hover {
  background-color: transparent;
  border-color: transparent;
}