.ProfileImage {
  margin-top: 20px;
}

.ProfileImage__avatar {
  margin-bottom: 10px;
}

.ProfileImage__warning-message {
  margin-top: 10px;
  color: coral;
}

.ImageUpload__error {
  font-size: .8rem;
  color: red;
}