.ProfilePage {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 0 30px 60px 30px;
  width: 90vw;
  max-width: 550px
}

.ProfilePage__form {
  width: 100%;
}

.ProfilePage__save-cancel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.ProfilePage__error {
  margin-top: 10px;
  color: coral;
}

.ProfilePage__sign-out-link {
  margin-top: 80px;
}