.JoinPage {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 0 30px;
  width: 90vw;
  max-width: 700px;
  text-align: center;
}

.JoinPage__logo {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.JoinPage__header {
  margin-bottom: 40px;
}

.JoinPage__visit {
  margin-top: 20px;
} 

.JoinPage__what-is {
  margin-top: 60px;
}
