.SidebarFile {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.SidebarFile__url {
  font-size: 0.85rem;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SidebarFile__delete:hover {
  cursor: pointer;
}
