.subscription-toggle {    
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-toggle-label {  
  margin-right: 8px;
}

.react-toggle--checked .react-toggle-track {
  background-color: #007bff !important;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: #007bff !important;
}