
.TalkStateChangerDisplay__state {
  margin-bottom: 10px;
}

.TalkStateChangerDisplay__state div {
  font-weight: bold;
  text-align: center;
  padding: 5px 0 5px 0;
  margin-bottom: 10px !important;
}

