.TalkPageSidebar {
  padding: 0 20px;
  height: 100%;
  width: 100%;
  border-left: 1px solid #e8e8e8;
  background-color: #fafafa;
  overflow-y: auto;
    /* some spacing for mobile device */
  padding-bottom: 120px
}

.TalkPageSidebar__item {
  padding: 20px 5px;
}

.TalkPageSidebar__item:not(:last-child) { 
  border-bottom: 1px solid #e8e8e8;
}

.TalkPageSidebar:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}
