.UploadSidebarFile__upload {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.85rem;
}

.UploadSidebarFile__upload--icon {
  display: inline-block;
  margin-right: 7px;
}

.UploadSidebarFile__error {
  color: red;
  font-size: .7rem;
}
