@import-normalize;

@media (min-width: 1600px) {
  .container {
    max-width: 1300px !important;
  }
}

.container {
  margin-bottom: 50rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

code {
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  border-radius: 0.25rem;
  background-color: #f0f0f0;
  padding: 0.15rem 0.3rem;
}

pre {
  background-color: #f0f0f0;
  padding: 8px 16px;
}

pre code {
 padding: 0;
}

.not-user-generated-link {
  word-break: normal;
}

a:hover {
  text-decoration: none !important;
}

.form-group {
  margin-bottom: 0 !important;
}

.hidden {
  display: none;
}

.loading-spinner {
  margin-top: 1rem;
}

input, textarea {
  font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace !important;
}

button {
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #007bff;
}

button:hover {
  color: #005abb
}

.one-line-input {
  font-size: 0.85rem !important;
}

.modal-footer {
  display: inline !important;
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}