.Comment {
  padding: 8px 13px;
  position: relative;
}

.Comment__hover:hover {
  background-color: #F9F9F9;
}

.Comment__anchor {
  position: absolute;
  top: -40px;
}

.Comment__anchor-highlight {
  background-color: #e9f3fc !important;
}
