.comment-header {
  font-size: 0.85rem;  
}

.comment-anchor-link {
  color: #6c757d !important;
}

.comment-copy-comment-link {
  display: none;  
}

.Comment__hover:hover .comment-copy-comment-link {
  display: inline;
}

.comment-edit {
  display: none;  
}

.Comment__hover:hover .comment-edit {
  display: inline;
}
