.CommentNotify {
  margin-top: 4px;
  border-radius: 4px;
  padding: 10px 15px;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #495057;
}

.CommentNotify__everyone {
  background-color: #e8e8e8;
}

.CommentNotify__everyone-label {
  margin-right: 8px; 
}

.CommentNotify__subscribers {
  background-color: #e9f3fc;
}

.CommentNotify__subscribers-label {
  margin-right: 8px; 
}

.CommentNotify__nobody {
  background-color: #e9f3fc;
}

.CommentNotify__subscribers-notify-more-label {
  margin-left: auto;
}