.MentionAction {
  border-radius: 4px;
  margin-top: 4px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
}

.MentionAction__select {
  font-size: 0.85rem !important;
  width: 180px !important;  
  margin-right: 10px;
}

.MentionAction__user-name {
  margin-left: 5px;
}

.MentionAction__question {
  margin-left: auto;
  display: flex;
  align-items: center;
}