.NotsSentMessage {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.NotsSentMessage__section {
  display: flex;
  align-items: center;
}

.NotsSentMessage__section:not(:last-child) {
  margin-bottom: 10px;
}

.NotsSentMessage .AvatarSet {
  margin-left: 8px;
}