.LeftNav {
  font-size: 1rem;
  background-color: #fafafa;
  border-right: 1px solid #e8e8e8;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  /* some spacing for mobile device */
  padding-bottom: 120px; 
}

.LeftNav__url-space-name {
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 15px;
  word-wrap: break-word;
}

.LeftNav__links {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.LeftNav__link {
  width: 100%;
  display: flex;
}

.LeftNav__link a {
  border: 1px solid transparent;
  color: #212529;
  text-decoration: none;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.LeftNav__link > .active {
  background-color: #dee2e6;
}

.LeftNav__link a:hover {
  color: #212529;
  background-color: #dee2e6;
}

.LeftNav__activity-dot {
  color: coral;
  margin-left: 7px;
}

.LeftNav__new-text {
  margin-left: 10px;
}

.LeftNav__link-divider-below {
  border-bottom: 1px solid #e8e8e8;
}

.LeftNav__link-divider-above {
  border-top: 1px solid #e8e8e8;
}

.LeftNav__sign-in-out-link {
  width: 100%;
  display: flex;
}

.LeftNav__sign-in-out-link a {
  flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
}