.LeftSideDrawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  height: 100vh;
  width: 180px;
  max-width: 75vw;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}
