.MobileHeader {
  height: 100%;
  background-color: lightgrey;
  font-weight: bold;
  display: flex;
  align-items: center;  
}

.MobileHeader__menu-button {
  margin-left: 15px;
}

.MobileHeader__title { 
  font-size: 1rem;
  margin: 0 10px 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MobileHeader__chevron-button {
  margin-left: auto;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .MobileHeader__menu-button  {
    display: none;
  }
}