.PageLayout {
  height: 100vh;
}

.PageLayout__mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 45px;
  width: 100vw;
  margin: 0; 
}

.PageLayout__body {
  height: 100%;
  display: flex;
}

.PageLayout__content {
  width: 100%;
}

.PageLayout__content-inner {
  padding: 45px 10px 0 10px;
}

.PageLayout__left-aside,
.PageLayout__right-aside {
  display: none;
}

.PageLayout__content-bottom-div {
  font-size: 0;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .PageLayout__left-aside {
    display: block;    
    flex: 0 0 180px;
    padding-top: 45px;
  }

  .PageLayout__left-aside-inner {
    position: fixed;
    height: 100%;    
    width: 180px;
    overflow-y: auto;
    overflow-x: hidden;    
  }

  .PageLayout__content {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  .PageLayout__content-inner {
    /* Less 30px to account for scrollbars occupying width */
    width: calc(100vw - 180px - 30px);
    padding: 45px 15px 0 15px;
    position: relative;
  }
}

@media (min-width: 1100px) {
  .PageLayout__mobile-header {
    display: none;
  }

  .PageLayout__left-aside {
    padding-top: 0;
  } 

  .PageLayout__right-aside {
    display: block;    
    flex: 0 0 256px;
  }

  .PageLayout__right-aside-inner {
    position: fixed;
    right: 0;
    height: 100%;    
    width: 256px;
    overflow-y: auto;
    overflow-x: hidden;    
  }

  .PageLayout__content-inner {
    padding-top: 0;
    max-width: 1200px;
    /* Less 30px to account for scrollbars occupying width */
    width: calc(100vw - 180px - 256px - 30px);
    position: relative;
  }
}
