.RightSideDrawer {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 300;
  height: 100vh;
  width: 256px;
  max-width: 75vw;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-right-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms;
}
