.SpaceSelectDropdown {
  margin-bottom: 15px;
  padding-left: 15px;
}

.SpaceSelectDropdown .dropdown-toggle {
  display: flex;
  align-items: center;
}

.SpaceSelectDropdown__title {
  width: 118px;
  text-align: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SpaceSelectDropdown .dropdown-menu {
  width: 180px;
}

.SpaceSelectDropdown .dropdown-item {
  white-space: nowrap;
  width: 100%;
  font-size: 0.85rem;
  padding-left: 12px;
}

.SpaceSelectDropdown__spinner {
  color: #6c757d;
}

